---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getGames } from "../api/free-games.api";
const games = await getGames({ "sort-by": "relevance" });
---

<Layout title="Free Games Finder">
  <main>
    <section
      class="grid justify-items-center gap-y-12 my-20 grid-cols-1 desktop-high:grid-cols-4 desktop-mid:grid-cols-3"
    >
      {games.map((game) => <Card data={game} />)}
    </section>
  </main>
</Layout>
