---
import Layout from "../layouts/Layout.astro";
import { getGames } from "../api/free-games.api";
import { QueryParams } from "../lib/constants/query-params.constants";
import Filter from "../components/Filter.astro";
import GameList from "../components/GameList";

const category = Astro.url.searchParams.get(QueryParams.CATEGORY);
const sortBy = Astro.url.searchParams.get(QueryParams.SORTBY);
const tag = Astro.url.searchParams.get(QueryParams.TAG);

const games = await getGames({
  "sort-by": sortBy ?? "relevance",
  category,
  tag,
});

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const category = data.get(QueryParams.CATEGORY);
  const sortBy = data.get(QueryParams.SORTBY);

  const querySegments: string[] = [];

  if (typeof category === "string" && category !== "") {
    querySegments.push(`category=${category}`);
  }

  if (typeof sortBy === "string") {
    querySegments.push(`sort-by=${sortBy}`);
  }

  return Astro.redirect(`/?${querySegments.join("&")}`);
}
---

<Layout title="Free Games Finder">
  <header
    class="text-4xl text-center mt-8 text-white font-bold desktop-mid:text-6xl"
  >
    <h1>Free Games Finder</h1>
  </header>
  <main>
    <section class="grid justify-items-center my-20 text-white">
      <Filter />
    </section>
    <GameList client:visible games={games} />
  </main>
</Layout>
