---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scrollbar scrollbar-thumb-secondary scrollbar-track-base"
>
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="A web page to find free to play games" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://main--free-games-finder.netlify.app/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Free Games Finder" />
    <meta
      property="og:description"
      content="A web page to find free to play games"
    />
    <meta property="og:image" content="/free-games-finder.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="A web page to find free to play games" />
    <meta
      property="twitter:domain"
      content="main--free-games-finder.netlify.app"
    />
    <meta
      property="twitter:url"
      content="https://main--free-games-finder.netlify.app/"
    />
    <meta name="twitter:title" content="Free Games Finder" />
    <meta
      name="twitter:description"
      content="A web page to find free to play games"
    />
    <meta name="twitter:image" content="/free-games-finder.png" />
    <title>{title}</title>
  </head>
  <body class="flex justify-center">
    <div
      class="fixed top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <div class="w-3/4">
      <slot />
    </div>
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
